<div class="container-fluid">
  <h1>Storage Australia</h1>
  <h3>Goods currently available in warehouse</h3>
  <%= link_to "Upload new consignment form", new_consignment_path %>

  <table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Consignment ID</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Source</th>
      <th scope="col">Destination</th>
      <th scope="col">Entry Time</th>
  </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% @goods = Good.select{|d| d.consignment.status == 'Available' } %>  <!-- # Check that good has not exited yet -->
    <% @goods.each do |good| %>
    <% i += 1 %>
    <tr>
      <th scope="row"><%= i %></th>
      <td><%= good.consignment.given_consignment_ID %></td>
      <td><%= good.name %></td>
      <td><%= good.good_type %></td>
      <td><%= good.consignment.source %></td>
      <td><%= good.consignment.destination %></td>
      <td><%= good.consignment.entry_time %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
